@import url('https://fonts.googleapis.com/css?family=Dosis|Roboto');

body {
    overflow: hidden;
    margin: 0;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.container-fluid {
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    height: 100%;
    width: 100%;
    /* -webkit-box-shadow: inset 0px 0px 0px 5px green;
    -moz-box-shadow: inset 0px 0px 0px 5px green;
    box-shadow: inset 0px 0px 0px 5px green; */
}

.project-grid {
    display: grid;
    grid-template-rows: fit-content(100%);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: dense;
    gap: 30px;
    align-content: center;
    justify-content: center;
    position: relative;
}

h1,
h2 {
    width: auto;
}

.project-card {
    height: 320px;
    box-shadow: 0px 3px 6px #00000029;
    width: auto;
}

.project-card:hover {
    box-shadow: 0px 6px 12px #00000029;
    cursor: pointer;
}

.project-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.options{
    font-family: Dosis, Roboto, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 20px;
    padding: 1rem;
    background-color: rgb(215, 215, 215);
    border-radius: 15px;
    text-align: left;
}
.options-button{
    font-family: Roboto, sans-serif;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.options-content{
    margin-top: 1rem;
    display: none;
}
.options-content.show{
    display: block;
}